.bg-main {
  background-color: rgba(208, 208, 208, 1);
}


/* misc.       */
.dark{
  background: #314455;
  color: #edc787;
}
.light{
  background: #d0d0d0;
  color: #314455;
}
.shadow{
  box-shadow: 5px 5px 10px hsl(0, 0%, 50%);
}
/*             */


/* main styles */
html {
  background-color: rgba(208, 208, 208, 1);
  height: 100vh;
  margin: 0;

  position: relative;
}
body {
  font-family: "Avenir next";
  margin: 0;
  height: auto;
}
header {
  height: 90px;
  background-color: #314455;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  z-index:1;
}
.nav, .nav-button a {
  float: left;
  display: flex;
  align-items: center;

  font-size: 100%;
}
.nav{
  font-family: Roboto;
  font-size: 120%;
  width: auto;
}
.nav-button{
  width: auto;
}
.nav-button a {
  font-size: 210%;
  color: #edc787;
  padding: 20px;
  margin-left: 20px;
  text-decoration: none;
  height: auto;
}

.nav-button a:hover {
  color: #a1a1a1;
}
.logout{
  font-family: Roboto;
  align-self: center;
  justify-self: end;
  position: absolute;
  top: 20px;
  right: 20px;
}
.content {
  position: relative;
  top: auto;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2% 0 15vh 0;
  height: auto;
  width: 100%;
  font-size: 80%;
  border-radius: 5px;
  /* overflow-y: auto; */
  text-align: left;
  color: #edc787;
}

/*kotak buat seluruh job di page home*/
.chat-content,
.homecontent {
  margin-top: 50px;
  margin: 0 auto;
  width: 80%;
  /*border: 10px solid white;*/
  text-align: left;
  overflow-y: auto;
  background-color: #314455;
  font-size: 16px;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: end;
  color: rgba(91, 91, 91, 1);
  font-size: 120%;

  z-index: -1;
}
footer p{
  margin: 2%;
}


/* Home.html css */
.title {
  width: 100%;
}
.job-list{
  background: rgba(49, 68, 85);
  width: 50%;
  padding: 2%;
  border-radius: 1%;

  font-family: roboto;
}
.job {
  background: rgb(0, 0, 0, 0.2);
  border: 3px solid #edc787;
  padding: 3%;
  margin: 0 0 2% 0;
}

.jobtitle {
  color: #edc787;
  margin: 0;
}
.jobdesc {
  margin-top: 0;
  margin-left: 25px;
  width: 50%;
  color: #edc787;
}
.answer {
  border-radius: 10%;
  text-align: center;
  float: right;
  width: 15%;

  color: #edc787;
  font-size: 300%;
  font-weight: bold;
}
.answer:hover {
  color: #bbbbbb;
  cursor: pointer;
}

@media screen and (orientation: portrait){
  .job-list{
    width: 80%;

  }
  header{
    font-size: 100%;
    height: auto;
  }
  .content{
    font-size: 120%;
  }
}

/*                  */

/* Profile.html css */


/*                  */


/* Notification.html css */
.notification-list{
  background: rgba(49, 68, 85);
  width: 60%;
  padding: 2%;
  border-radius: 1%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: roboto;
}
.notification {
  background: rgb(0, 0, 0, 0.2);
  padding: 3%;
  margin: 0 0 2% 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.notification-text{
  margin-left: 20px;
  color: #edc787;
  font-size: 150%;
  width: 70%;
}
.notification-image{
  background: rgba(255, 255, 255, 0.1);
  padding: 1%;
  border-radius: 10%;
}
@media screen and (orientation: portrait){
  .notification-list{
    width: 80%;
    font-size: 100%;

  }
  .notification{
  }
}

/*                  */

/* Chats.html css */
.chat-list{
  background: rgba(49, 68, 85);
  width: 70%;
  padding: 2%;
  border-radius: 1%;

  font-family: roboto;
}
.chat {
  margin: 0 0 2% 0;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-text{
  margin-left: 20px;
  color: #edc787;
  font-size: 150%;
  width: 100%;
}
.chat-profil {
  display: flex;
  width: 25%;
  height: 100%;

}
.chat-profil img{
  background: rgba(255, 255, 255, 0.1);
  margin: 6px 3px;
  padding: 1%;
  border-radius: 10%;
}

.chat-profil p{
  justify-self: end;
  width: auto;
  height: 100%;
  margin: 7% 0 0 10%;
  font-size: 150%;
  font-weight: bold;
}
@media screen and (orientation: portrait){
  .chat-list{
    width: 70%;
    font-size: 100%;
  }
  .chat{
  }
}

/*                */

/* Settings.html css */
.settings-box{
  background: rgba(49, 68, 85);
  width: 50%;
  padding: 2%;
  border-radius: 1%;

  font-family: roboto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (orientation: portrait){
  .settings-box{
    width: 70%;
    font-size: 100%;
  }
}

.tes {
  background-color: #314455;
  width: 100%;
  border: 2px solid red;
}


.judul {
  /*float: left;*/
  /*margin-top: 150px;*/
  text-align: center;
  color: #314455;
  font-size: 25px;
}
.block-button {
  background-color: #edc787;
  color: #314455;
  width: 100%;
  padding: 1vh;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}
.block-button:hover {
  background-color: #a1a1a1;
}
.textbox {
  width: 80%;
}
.container {
  /*border: 10px solid rgba(91, 91, 91, 1);*/
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  color: #edc787;
  border-radius: 5px;
}
.container a {
  text-decoration: none;
  color: rgba(208, 208, 208, 1);
}
.container a:hover {
  color: rgba(91, 91, 91, 1);
}

.box{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;

  background-color: #314455;
  padding: 10px 50px;
  border-radius: 5%;
  width: auto;
  height: auto;
  
  box-shadow: 5px 5px 10px hsl(0, 0%, 50%);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: right;
  /*margin-top: 23px;*/
  background-color: #314455;
  border-radius: 5px;
}
li a {
  display: block;
  color: #edc787;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
li a:hover {
  color: #a1a1a1;
  cursor: pointer;
}

/*switch on off di page settings*/
.switch {
  float: right;
  position: relative;
  width: 60px;
  height: 34px;
  /* display: inline-block; */
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(208, 208, 208, 1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #edc787;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.button,
.button a {
  border: none;
  color: #314455;
  text-decoration: none;
  background-color: #edc787;
  border-radius: 1vh;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #a1a1a1;
}

chat-text {
  margin-left: 20px;
  color: #edc787;
  font-size: 20px;
  width: 70%;
}

.notification-image {
  float: right;
  margin-right: 20px;
  margin-top: 6px;
}


.tab-active {
  background-color: #edc787;
  border-radius: 5px;
  color: #314455;
}
.sfooter {
  text-align: left;
  padding: 5px;
  color: black;
}


@media screen and (max-width: 700px) and (orientation: portrait) {
  /* styles */
  .container {
    /*border: 10px solid rgba(91, 91, 91, 1);*/
    background-color: #314455;
    padding: 10px;
    margin: 0 auto;
    margin-top: 50px;
    width: auto;
    text-align: left;
    font-size: 20px;
    color: #edc787;
    border-radius: 5px;
  }

  .textbook {
    float: right;
  }
}
